
/*  Mobile */
@media only screen and (max-width: 740px){
    .div_logo > img{
        width: 75vw;
        max-width: 333px;
    }
    .div_main{
        flex-wrap: wrap;
    }
    .div_main .secao_rigth{
        width: 100%;
        min-width: 340px;
    }
    .div_main .secao_left{
        width: 100%;
        min-width: 340px;
        border-right: none;
        border-bottom: 1px solid #c0c0c0;
    }
    .div_nav .div_menu{
        display: block;
        height: 10px;
        margin-top: 15px;
        margin-right: 5%;
    }
    .div_nav .nav_header{
        display: none; 
    }
    .header .div_nav{
        margin-right: 30px;
    }
    .secao_left > div > div {
        flex-wrap: wrap;
    }
    .secao_left > div > #img_bng1  {
        padding-left: 20px;
    }
    .secao_left > div > div >  #img_bng2{
        display: none;
    }
    .secao_left > div > div > #img_bng3{
        display: block;
        width: 90%;
        max-height: 760px;
    }
    .div_vagas > div{
        flex-wrap: nowrap;
    }
    .div_vagas > div > #div_status{
        margin-left: 82%;
        width: 90px;
    }
    .div_vagas > div > #div_status_pro{
        margin-left: 80%;
        width: 100px;
    }
    .div_vagas > div > #div_status_pre{
        margin-left: 84%;
       
    }
    .section_parceiro > div > div > #logo_uvv{
        width: 35vw; 
    }
    .section_parceiro > div > #inst {
        min-width: 400px;
        
    }
    .section_parceiro > div > #emp {
        min-width: 400px;
    }
    .carousel-cel {
        min-height: 365px;
        height: 41vh;
    }
    .secao_artigo{
        width: 100%;
    }
    .secao_artigo2{
        width: 100%;
    }
    .div_2_menor > img{
        height: 110px;
    } 
    #header_noticias{
        width: 93%;
    }
    .div_header_contato{
        width: 90%;
        min-width: 332px ;
    }
    .div_header_contato > #image > img{
        margin-left: 5px;
    }
    .div_header_contato > #icones > img{
        margin-left: 5px;
    }
    .div_header_contato > #outros {
        display: none;
    }
    .div_busca > div {
        margin-left: 10%;
    }
     .footer .footer_logo{
        margin-left: -40px;
    } 
    input:checked + .main .main_nav{
        transition: 1s;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 375px) and (min-width: 100px) {
    .footer{
        height: 100vh;
    }
    .footer .footer_contato{
        width: 60%;
        height: 100vh;
        
    }
    .secao_left{
        max-width: 90%;
    }
}
/* -- -- --*/



/*  Ipad */
@media only screen and (max-width: 850px) and (min-width: 460px) {
    .div_logo > img{
        width: 35vw;
        max-width: 333px;
    }
    .div_main{
        flex-wrap: wrap;
    }
    .div_main .secao_rigth{
        width: 100%;
        min-width: 340px;
    }
    .div_main .secao_left{
        width: 100%;
        min-width: 340px;
        border-right: none;
        border-bottom: 1px solid #c0c0c0;
    }
    .secao_left > div > div {
        flex-wrap: wrap;
    }
    .secao_left > div > div > #img_bng2{
        display: none;
    }
    .secao_left > div > div > #img_bng3{
        display: block;
        width: 90%;
        max-height: 760px;
    }
    .secao_porque > div{
        margin-left: 10%;
    }
    .div_vagas > div{
        width: 60%;
    }
    .div_vagas > div{
        flex-wrap: nowrap;
    }
    .div_vagas > div > #div_status{
        margin-left: 84%;
        
    }
    .div_vagas > div > #div_status_pro{
        margin-left: 82%;
        
    }
    .div_vagas > div > #div_status_pre{
        margin-left: 82%;
       
    }
    .section_parceiro > div{
        margin-left: 10vw;
    }
    .section_parceiro > div > #inst {
        min-width: 400px;
    }
    .section_parceiro > div > #emp {
        min-width: 400px;
    }
    .carousel-cel {
        max-height: 360px;
    }
    .secao_artigo{
        width: 90%;
    }
    .secao_artigo2{
        width: 90%;
    }
    .div_2_maior > img{
        height: 170px;
    }
    .div_2_maior > div > h4{
        margin-top: 20px;
    }
    .div_2_menor > div > h4{
        margin-top: 10px;
    }
    #header_noticias{
        width: 95%;
    }
    .div_header_contato{
        width: 45%;
        min-width: 332px ;
    }
    .div_header_contato > #image > img{
        margin-left: 5px;
    }
    .div_header_contato > #icones > a > img{
        margin-left: 5px;
    }
    .div_header_contato > #outros {
        display: none;
    }
    .footer_contato{
        max-height: 602px;
        width: 100%;
    }
    .footer_logo{
        margin-top: 20px;
    }
    
}
/* -- -- --*/

/* Ipad Pro*/
@media only screen and (max-width: 1200px) and (min-width: 850px) {
    .secao_left{
        max-width: 900px;
    }
    .secao_left > div > div > #img_bng2{
        margin-top: 40px;
    }
    .div_vagas > div{
        width: 60%;
    }
    .div_vagas > div{
        flex-wrap: nowrap;
    }
    .div_vagas > div > #div_status{
        margin-left: 78%;
    }
    .div_vagas > div > #div_status_pro{
        margin-left: 74%;
    }
    .div_vagas > div > #div_status_pre{
        margin-left: 74%;
    }
    .carousel-cel {
        max-height: 370px;
    }
    .secao_artigo{
        width: 80%;
        min-width: 300px;
    }
    .secao_artigo2{
        width: 90%;
        min-width: 300px;
    }
    .div_2_menor{
        width: 39%;
    }
    .div_2_maior{
        width: 80%;
    }
    .footer_contato{
        max-height: 602px;
        width: 100%;
    }
    .footer_logo{
        margin-top: 20px;
    }
}
/* -- -- --*/

/* Ajuste width logo empresa*/
@media only screen and (max-width: 868px) and (min-width: 770px) {

    .section_parceiro > div > div > div > img{
        margin: 0px;
        min-width: 100px;
    }
    .section_parceiro > div > div > div > #uvv, #ufes{
        margin: 0px;
        min-width: 150px;
    }
}

@media only screen and (min-width: 1600px){
    .secao_left{
        max-width: 900px;
    }
    .section_parceiro > div > div > div > img{
        margin-right: 30px;
        min-width: 100px;
        max-width: 120px;
    }
    .section_parceiro > div > div > div > #uvv, #ufes, #vale, #hospital{
        margin-right: 0px;
        min-width: 150px;
        max-width: 150px;
    }
    .nav-carousel{
        max-width: 2000px;
    }
    .carousel-cel{
        max-width: 300px;
    }
}

/* -- -- -- */

/* Ajudar topicos de noticia */
@media only screen and (min-width: 1645px) and (max-width: 4000px){
    .div_2_menor{
        width: 47%;
    }
    .div_art_maior{
        height: 84%;
    }
}
/* -- -- -- */


/* Ajudar div_contatos_topo */
@media only screen and (min-width: 1030px) and (max-width: 4000px){
    .div_header_contato{
        width: 60%;
        min-width: 730px;
        max-width: 800px;
    }
    .div_header_contato > #image > img{
        margin-left: 5px;
    }
    .div_header_contato > #icones > a > img{
        margin-left: 5px;
    }
    .div_header_contato > #outros {
        margin-left: 10%;
    }
    .div_header_contato > #outros > a > strong{
        margin: 0px 10px;
    }
}

@media only screen and  (max-width: 1030px){
    .div_header_contato{
        width: 45%;
    }
    .div_header_contato > #outros {
        display: none;
    }
}


/* -- -- -- */

