#header_alunos{
    width: 200px;
}
.secao_left > div > #img_left{
    width: 90%;
    margin-left: 20px;
}
.secao_left > div > #header_left{
    font-size: 22px;
}
.secao_rigth > div > #header_right{
    font-size: 22px;
}
.secao_left > div > #header_aluno_p{
    font-size: 17px;
}
.secao_right > div > ul > li {
    margin-bottom: 10px;
}
.secao_rigth > #right_aluno_div{
    border: 1px solid #c0c0c0;
    padding: 10px 20px;
    margin: 10px;
    max-width: 527px;
    box-shadow: 2px 5px 14px -4px #c0c0c0;
}
.div_cand#cand_aluno{
    margin-left: 30%;
}
.lista_aluno{
    font-family: 'Montserrat', sans-serif;
    color: #111955;
    font-size: 18px;
    
}
.div_main {
    min-width: 642px;
}