body {
    height: 100vh;
    margin: 0px;
    background-color: aqua;
    display: grid;
    grid-template-areas: 
    "header" 
    "main"
    "footer";
    grid-template-columns: 1fr ;
    grid-template-rows: 190px 1fr 100px;
}
.header{
    grid-area: header;
    background-color: #FFF;
    border-bottom: 1px solid #C0C0C0;
    z-index: 1;
    margin-bottom: -10px;
}
.div_logo{
    float: left;
    margin-top: 70px;
    margin-left: 7vw;
}
.div_logo > img{
    width: 50vw;
    max-width: 333px;
}
.div_acesso{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.div_login{
    background-color: #FFF;
    border: 1px solid #C0C0C0;
    border-radius: 0px 0px 10px 10px;
    width: 10vw;
    min-width: 160px;
    height: 3vh;
    margin-right: 15%;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_login > strong{
    margin-left: 8px;
}
.div_login > img{
    margin-left: 10px;
    width: 16px;
    height: 16px;
}
.div_nav{
    margin-right: 20%;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
}
.nav_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav_header > a {
    text-decoration: none;
    color: #17202A;
    border: 1px solid #C0C0C0;
    padding: 10px;
    margin: 5px;
}
.div_menu{
    display: none;
}
input {
    display:none;
}
.main{
    grid-area: main;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 10px;
}
.nav{
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: -2px;

}
.main_nav{
    margin-top: -262px;
    transition: 1s;
    padding:20px;
    
}
.nav_main{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.nav_main > a{
    display: flex;
    justify-content: center;
    width: 50vw;
    min-width: 250px;
    max-width: 400px;
    text-decoration: none;
    color: black;
    border: 1px solid #C0C0C0;
    padding: 10px;
    margin: 5px;
}
.div_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    border-top: 1px solid #C0C0C0;
    padding-top: 5px;
    
}
.secao_rigth{
    margin:5px;
    width: 40%;
    height: 100%;
    min-width: 300px;
    min-height: 700px;
    max-width: 750px;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}
.secao_left{
    margin:5px;
    width: 60%;
    height: 100%;
    min-width:400px;
    min-height: 700px;
    max-width: 900px;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}
.footer{
    grid-area: footer;
    background-color: #FFF;
    border-top: 1px solid #c0c0c0;
    
}